.main-container {
  display: flex;
}
.header-container {
  display: flex;
  justify-content: space-between;
  padding: 24px;
}
.logo-container,
.nav-links-container {
  display: flex;
  width: 600px;
}
.list-container {
  list-style-type: none;
  display: flex;
}
.list-container li {
  padding-right: 15px;
  font-weight: bold;
}
.link-items {
  text-decoration: none;
  color: rgb(64, 148, 239);
  font-size: 20px;
  cursor: pointer;
}
.insta-share-logo-heading {
  font-size: 28px;
  padding-left: 12px;
}
.nav-links-container {
  justify-content: space-between;
  margin-left: auto;
  align-items: center;
  margin-right: 50px;
}
.logout-btn {
  background-color: rgb(64, 148, 239);
  padding: 12px;
  color: #ffffff;
  border-radius: 5px;
  font-size: 16px;
  border-style: none;
  outline: none;
  cursor: pointer;
  width: 100px;
}
.search-container {
  display: flex;
  border: 1px solid rgb(152, 152, 152);
  border-radius: 5px;
}
.search-bar,
.search-btn {
  padding: 15px;
  border-style: none;
}
.search-btn {
  background-color: rgb(152, 152, 152);
  color: rgb(219, 219, 219);
  font-size: 20px;
  cursor: pointer;
}
.search-bar {
  width: 225px;
}
.logo-container {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
}
.ham-btn {
  background: transparent;
  border-style: none;
  font-size: 30px;
  cursor: pointer;
}
.close-icon {
  font-size: 22px;
}
.nav-items {
  padding-right: 12px;
  font-weight: bold;
  font-size: 25px;
  font-family: 'Roboto';
}
